nav>ul>li{
display: inline;
margin-right: 15px;

}

nav li>a{
    text-decoration: none;
}
footer{
    margin:30px ;
    text-align: center;
}
.sky{
    text-decoration: none;
}
.kfp{
    font-weight: bold;
}

div > ul>li{
    text-decoration: underline;
    list-style: none;
    margin-right: 50px;
    color: blueviolet;
}